.uwl-pie-chart {  
  position: relative;
  display: inline-grid;
  place-content: center;
  width: var(--size);
  height: var(--size);
}

.uwl-pie-chart .uwl-chart-bg {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--thickness)), #000 calc(100% - var(--thickness)));
  mask: radial-gradient(farthest-side, #0000 calc(99% - var(--thickness)), #000 calc(100% - var(--thickness)));
  background: conic-gradient(var(--bg-colour) 100%, #0000 0);
}

.uwl-pie-chart.uwl-uwflow-theme .uwl-chart-bg {
  background: conic-gradient(var(--uwflow-chart-bg-colour) 100%, #0000 0);
}

.uwl-pie-chart .uwl-chart-bar {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--thickness)), #000 calc(100% - var(--thickness)));
  mask: radial-gradient(farthest-side, #0000 calc(99% - var(--thickness)), #000 calc(100% - var(--thickness)));
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  background: conic-gradient(var(--caption-colour) calc(var(--percentage) * 1%), #0000 0);
}

.uwl-pie-chart.uwl-uwflow-theme .uwl-chart-bar {
  background: conic-gradient(var(--uwflow-chart-bar-colour) calc(var(--percentage) * 1%), #0000 0);
}

.uwl-bar-chart {
  position: relative;
  width: var(--width);
  height: var(--height);
  background-color: var(--bg-colour);
}

.uwl-bar-chart.uwl-uwflow-theme {
  background-color: var(--uwflow-chart-bg-colour);
}

.uwl-bar-chart .uwl-chart-bar {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--percentage) * var(--width) / 100);
  height: var(--height);
  background-color: var(--caption-colour);
}

.uwl-bar-chart.uwl-uwflow-theme .uwl-chart-bar {
  background-color: var(--uwflow-chart-bar-colour);
}
