.uwl-tooltip-marker {
  position: relative;
  /* color: red; */
}

.uwl-tooltip {
  position: absolute;
  width: 16rem;
  padding: 0.5rem 0.5rem 0;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 0.25rem #ccc;
  z-index: 1000;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.25s ease, visibility 0.25s ease;
}

.uwl-tooltip.hidden {
  visibility: hidden;
  opacity: 0;
}

.uwl-tooltip > div {
  margin-bottom: 0.5rem;
}
