.uwl-tooltip-header-module {
  display: flex;
  align-items: center;
}

.uwl-tooltip-header-module-icon {
  width: var(--header-size);
  height: var(--header-size);
  margin-right: calc(var(--module-padding) / 2);
}

.uwl-tooltip-header-module-text {
  color: var(--header-colour) !important;
  font-size: var(--header-size) !important;
  font-weight: bold;
}
